@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --azul: #0085ff;
  --preto: #0C0C0C;
  --azul-escuro: #0069CC;
  --cinza: #E0E0E0;
  --cinzaescuro: #222;
}

body {
  font-family: 'Urbanist', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.accordionBox {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease; /* Transição geral para suavizar o clique */
}

.accordionBoxOpen {
  border-color: blue;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
}

.accordionText {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordionTextOpen {
  max-height: 500px; /* valor máximo suficiente para o conteúdo expandido */
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}



@layer base {
  html {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    color: #000;
  }

  html.dark {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    color: #fff;
  }
  .dark header {
    @apply bg-[#0C0C0C];
  }
}



