@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --azul: #0085ff;
  --preto: #0C0C0C;
  --azul-escuro: #0069CC;
  --cinza: #E0E0E0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


