@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --azul: #0085ff;
  --preto: #0C0C0C;
  --azul-escuro: #0069CC;
  --cinza: #E0E0E0;
  --cinzaescuro: #222;
}

body {
  font-family: 'Urbanist', sans-serif;
}

html {
  scroll-behavior: smooth;
}



